<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS} [%level] [%c] %msg%n</pattern>
        </encoder>
    </appender>
    
    <logger name="org.testng" level="warn"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
